#type-tab {
    background: #f0f3f5;
    height: 40px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

#type-tab-ul li span {
    color: #27a;
    font-size: medium;
}

#banner {
    width: 70%;
    height: 100%;
    background: url(../images/banner.jpg);
    background-size: cover;
}

.checkbox-label {
    position: relative; 
    left: 230px;
    font-size: 13px;
    margin-right: 20px;
    color: #666666;
}