#content-body {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px 80px 20px 80px;
    display: flex;
    align-items: center;
    background: #f0f3f5;
}

#user-info {
    width: 300px;
    padding: 20px;
    height: 800px;
    border-radius: 10px;
}

#user-avatar {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: 1px solid slategray;
    background-size: cover;
}

#fragment-user-info {
    width: 100%;
    height: fit-content;
}

#info-box {
    width: 100%;
    height: 100%;
}

#infomation-board {
    margin-left: 20px;
    width: 1000px;
    height: 840px;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#logout-button {
    width: 300px;
}

#edit-button {
    width: 300px;
}

#submit-btn { 
    float: left;
    width: 140px;
}

#cancel-btn {
    float: right;
    width: 140px;
}

#tab {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    background-color: #545652;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

#pager {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: fit-content;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
}

::-webkit-scrollbar {
    display: none;
}

/* #want-to-watch {
    margin-right: 20px;
} */

.tab-item {
    width: 24.5%;
    margin-right: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    transition: .3s;
    border-right: 1px solid rgb(235, 235, 235);
    cursor: pointer;
}

.tab-item:hover {
    color: rgb(233, 233, 233);
}

.selected {
    color: white;
}

.button {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    background: #F5F5F5;
    color: black;
    transition: .2s;
    text-align: center;
    line-height: 30px;
    border: 1px solid #BDBDBD;
    font-weight: 500;
}

.button:hover {
    background: #EEEEEE;
}

/* .board-block {
    width: 50%;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    font-weight: 800;
    font-size: 30px;
    border-bottom: 1px solid #BDBDBD;
} */

embed {
    width: 30px;
    height: 30px;
    display: inline;
}

.card {
    background: white;
}

input {
    margin: 10px 0px 10px 0px;
    width: 280px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    transition: .2s;
}

input:focus {
    outline: none;
    border: 1px solid #3F51B5;
}

movie-card {
    margin: 10px 10px;
    transition: transform .5s, opacity .7s;
}